
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReviewVectorLabel">Create or edit a Review Vector</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reviewVector.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reviewVector.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vector">Vector</label>
                <textarea class="form-control" name="vector" id="field_vector"
                    ng-model="vm.reviewVector.vector" required></textarea>
            <div ng-show="editForm.vector.$invalid">
                <p class="help-block"
                    ng-show="editForm.vector.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_review">Review</label>
            <select class="form-control" id="field_review" name="review" ng-model="vm.reviewVector.reviewId" ng-options="review.id as review.id for review in vm.reviews"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.review.$invalid">
            <p class="help-block"
                ng-show="editForm.review.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_rankSnapshot">Rank Snapshot</label>
            <select class="form-control" id="field_rankSnapshot" name="rankSnapshot" ng-model="vm.reviewVector.rankSnapshotId" ng-options="rankSnapshot.id as rankSnapshot.epoc for rankSnapshot in vm.ranksnapshots"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.rankSnapshot.$invalid">
            <p class="help-block"
                ng-show="editForm.rankSnapshot.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
